.userPanelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 73px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    color: #161D2C;
    font-size: 14px;
    font-family: 500;
}

.mainContainer p {
    background-color: #10B981;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 16px;
}

.dividerListItem {
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: #7582EB !important;
    text-align: center !important;
    align-self: center !important;

}

.dividerListItem:hover {
    background-color: #161D2C !important;
    color: #75FAC8 !important;
    transition: 0.2s ease-in-out !important;
}

.ListItem {
    align-items: center !important;
}

.myStuff {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.userRoleContainer {
    position: absolute;
    top: 130px;
    left: 15%;
}

.userClassifiedContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    border-radius: 12px;
}

.userReviewContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    border-radius: 12px;
}

.userChartContainer {
    margin-top: 30px;
    border-radius: 12px;
    position: relative !important;
}

.userClassifiedMap {
    padding: 5px;
    border-radius: 12px;
    background-color: #7582EB;
    color: #161D2C;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
}

.userClassifiedMap:hover {
    background-color: #161D2C;
    color: #75FAC8;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    border: 1px solid #75FAC8;
}

.userReviewMap {
    padding: 5px;
    border-radius: 12px;
    background-color: #8A2BE2;
    color: #161D2C;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid transparent;

}


.positionChart {
    margin-left: auto;
    margin-right: auto;
}

.userPanelMessageIcon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 120px;
    right: 150px;
    transition: 0.2s ease-in-out;
    -webkit-animation: jello-horizontal 0.9s infinite both;
    animation: jello-horizontal 0.9s infinite both;
}

.userPanelMessageIcon:hover {
    cursor: pointer;
    transform: scale3d(1.2, 1.2, 1.2);
    transition: 0.2s ease-in-out;
}

.bottomMessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-top: 50px
}

.bottomMessageContainer>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;

}






@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}