.Car-car {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    transition: 0.5s;
}

.Car-car:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    transition: 0.5s;
    cursor: pointer;
}

.Car-car:hover .Car-brand {
    color: #7582EB;
}

.Car-brand {
    color: #75FAC8;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.plusIcon {
    width: 150px;
    height: 150px;
    filter: invert(100%) sepia(88%) saturate(1057%) hue-rotate(79deg) brightness(97%) contrast(99%);
}