.Blog-blogArticle {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 50px 20px 50px;
    font-size: 1.2rem;
    text-align: justify;
    text-indent: 20px;
}

.Blog-blogArticle hr {
    width: 80%;
    border: 1px solid #7582EB;
    margin-top: 30px;
}

.BlogArticle-description {
    text-align: justify;
}

.BlogArticle-highLow {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 500;
    border: 1px solid #7582EB;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    text-indent: 0px;
}

.BlogArticle-highLow div p {
    color: #FFB020;
}

.BlogArticle-highLow div {
    width: 25%;
}

.BlogArticle-highs {
    color: #75FAC8;
}

.BlogArticle-lows {
    color: #fa4747;
}

.BlogArticle-verdict {
    color: #7582EB;
}